{% extends "layout.html" %}

{% block title %}
Favorites
{% endblock %}



{% block main %}

    <div id="jumbo" class="jumbotron mx-auto text-center">
        <div class="container-fluid">
            <h1 class="display-4" id="favorites_title">Favorites</span></h1>
            <p class="lead" id="favorites_message">Enjoy &#128513;</p>
            <hr class="my-4">
        </div>
    </div>

    <div class="favorites-container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for favorite in favorites %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text quote-text">{{ favorite.quote }}</p>
                        <p class="card-text author-text">- {{ favorite.author }}</p>
                        
                        <!--<script>
                            favoriteQuote = '{{ favorite.quote | tojson | safe }}';
                            favoriteAuthor = '{{ favorite.author | tojson | safe }}';
                        </script>
                        <button class="btn btn-danger remove-favorite"
                                data-quote="{{ favorite.quote | tojson }}"
                                data-author="{{ favorite.author | tojson }}"
                                onclick="removeFavorite(favoriteQuote, favoriteAuthor)">
                                Remove from Favorites
                        </button>
                    -->
                        <!--
                        <script>
                            function quotefunct(favorite) {
                                return favorite.quote; // or favorite.quote.replace(/^"|"$/g, ''); to clean it up
                            }
                            function authorfunct(favorite) {
                                return favorite.author; // or favorite.author.replace(/^"|"$/g, ''); to clean it up
                            }
                        </script>
                        <button class="btn btn-danger remove-favorite"
                                data-quote="{{ favorite.quote | tojson }}"
                                data-author="{{ favorite.author | tojson }}"
                                onclick="removeFavorite(quotefunct(favorite), authorfunct(this.favorite))">
                                Remove from Favorites
                        </button>
                    -->
                        <script>
                            function getFavoriteData(button) {
                                const quote = button.getAttribute('data-quote'); // Get the raw quote
                                const author = button.getAttribute('data-author'); // Get the raw author

                                console.log("Raw Quote:", quote); // Debugging output
                                console.log("Raw Author:", author); // Debugging output

                                // Clean the quote and author
                                const cleanedQuote = JSON.parse(quote);
                                const cleanedAuthor = JSON.parse(author);

                                console.log("Cleaned Quote:", cleanedQuote); // Debugging output
                                console.log("Cleaned Author:", cleanedAuthor); // Debugging output

                                return { quote: cleanedQuote, author: cleanedAuthor }; // Return as an object
                            }
                        </script>
                        <button class="btn btn-danger remove-favorite"
                                id="remove-favorite-{{ loop.index }}"
                                data-quote='{{ favorite.quote | tojson }}'
                                data-author='{{ favorite.author | tojson }}'
                                onclick="removeFavorite(getFavoriteData(this), 'remove-favorite-{{ loop.index }}')">
                                Remove from Favorites
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
