{% extends "layout.html" %}

{% block title %}
Favorites
{% endblock %}

{% block jumbo_title %}Favorites{% endblock %}
{% block jumbo_message %}Enjoy &#128513;{% endblock %}

{% block main %}

    <div class="favorites-container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for favorite in favorites %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text quote-text">{{ favorite.quote }}</p>
                        <p class="card-text author-text">- {{ favorite.author }}</p>
                        <button class="btn btn-danger remove-favorite"
                                data-quote = "{{ favorite.quote|tojson }}"
                                data-author = "{{ favorite.author|tojson }}"
                                onclick="removeFavorite(this)">
                            Remove from Favorites
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
