{% extends "layout.html" %}

{% block title %}

{% endblock %}


{% block main %}

    <div id="jumbo" class="jumbotron mx-auto text-center">
        <div class="container-fluid">
            <h1 class="display-4" id="index_title">Welcome to <span class="heading heading--3">Quote Vault</span></h1>
            <p class="lead" id="index_message">Save your favorites &#128172;</p>
        </div>
    </div>

    <div class="quote-container">
        <div class="quote-box">
            <p id="quote">{{ quote }}</p>
        </div>
        <p id="author">{{ author }}</p>
    </div>
    <div class="button-container">   
        <button class="button-30" type="button" onclick="getQuote()">Change Quote</button>
        <div class="heart-button" onclick="handleHeartButtonClick()"></div>
    </div>

{% endblock %}
