{% extends "layout.html" %}

{% block title %}

{% endblock %}


{% block main %}
    <div id="jumbo" class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-4" id="title">Welcome to Quote Vault</h1>
            <p class="lead">Save your favorites &#128172;</p>
            <hr class="my-4">
        </div>
    </div>
    <div class="quote-container">
        <div class="quote-box">
            <p id="quote">{{ quote }}</p>
        </div>
        <p id="author">{{ author }}</p>
    </div>
    <div class="button-container">   
        <button class="button-30" type="button" onclick="getQuote()">Change quote</button>
        <div class="heart-button" onclick="toggleFavorite()"></div>
    </div>




{% endblock %}
