{% extends "layout.html" %}

{% block title %}

{% endblock %}


{% block jumbo_title %}Welcome to <span class="heading heading--3">Quote Vault</span>{% endblock %}
{% block jumbo_message %}Save your favorites &#128172;{% endblock %}

{% block main %}

    <div class="quote-container">
        <div class="quote-box">
            <p id="quote">{{ quote }}</p>
        </div>
        <p id="author">{{ author }}</p>
    </div>
    <div class="button-container">   
        <button class="button-30" type="button" onclick="getQuote()">Change Quote</button>
        <div class="heart-button" onclick="handleHeartButtonClick()"></div>
    </div>

{% endblock %}
