{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div id="jumbo" class="jumbotron mx-auto text-center">
        <div class="container-fluid">
            <h1 class="display-4" id="register_title">Register</h1>
            <p class="lead" id="register_message">Welcome to the Vault</p>
        </div>
    </div>

    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <script>
        // Call showAlert when the page loads
        window.onload = function() {
            showAlert("{{ error|e }}");
        };
    </script>
{% endblock %}
